<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
  "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <title>Jasmine Test Runner</title>
  <%= stylesheet_link_tag    'jasmine' %>
  <%= javascript_include_tag 'jasmine' -%>

  <script type="text/javascript">
    var jsApiReporter;
    (function() {
      var jasmineEnv = jasmine.getEnv();

      jsApiReporter = new jasmine.JsApiReporter();
      var trivialReporter = new jasmine.TrivialReporter();

      jasmineEnv.addReporter(jsApiReporter);
      jasmineEnv.addReporter(trivialReporter);

      jasmineEnv.specFilter = function(spec) {
        return trivialReporter.specFilter(spec);
      };

      window.onload = function() {
        jasmineEnv.execute();
      };
    })();
  </script>

  <%= javascript_include_tag 'math' %>
  <%= javascript_include_tag 'mocha' %>

  <%= javascript_include_tag 'spec' %>
</head>
<body>
<div id="jasmine_content"></div>
</body>
</html>